.language-selection {
    text-align: center;
    padding: 10px 0;
}

.language-title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.language-flags {
    display: block; /* изменено с flex на block */
    margin-top: 5px; /* отступ сверху */
}

.language-flags .lang__link {
    display: inline-block; /* флаги будут выстраиваться в ряд, но на новой строке */
    margin: 0 8px; /* отступы между флагами */
}

.language-flags .lang__img {
    width: 30px;
    height: 18px;
    transition: transform 0.2s ease;
}

.language-flags .lang__img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 3px rgb(136, 136, 136)) brightness(120%);
}
